@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100dvh;
  max-width: 1440px;
  place-content: center;
  margin: 0 auto;
  padding: $base-padding * 2;
  background-color: $l-grayish-blue;
}
