$d-grayish-blue: hsl(217, 19%, 35%);
$desat-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$l-grayish-blue: hsl(210, 46%, 95%);

$base-padding: 1rem;
$base-margin: 1rem;

$base-border-radius: 1rem;

$body-font-size: 13px;
