@mixin btn($bg-color: transparent, $color: #000) {
  display: inline-block;
  border: none;
  border-radius: 50%;
  background-color: $bg-color;
  color: $color;
  padding: $base-padding * 0.5;
  height: 2rem;
  width: 2rem;

  position: relative;
  z-index: 99;
  cursor: pointer;
  transition: 0.4s;
}

@mixin btn-hover($bg-color: #000, $color: #fff) {
  background-color: $bg-color;
  color: $color;
}

.btn {
  @include btn($l-grayish-blue, $d-grayish-blue);

  &:hover {
    @include btn-hover($desat-dark-blue);

    ion-icon {
      color: #fff;
    }
  }
}
